.posit{
    margin-top: 3%;
}
.spanstyle{
    border-radius: 5px;
    background-color: #ff7900;
}

.chart-card-header{
  margin-top: 0px;
}

.cards-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  //border: 2px solid greenyellow;
}

.card-dash{
  width: 25%;
}

