.full-screen-modal {
    width: 99%;
  }
  
  .active {
    opacity: 1;
  }
  .inactive {
    opacity: 0.4;
  }
  .inpColor{
    background-color: #f89137
  }
  
  ::ng-deep .cdk-overlay-container {
    position: fixed;
    z-index: 10000;
  }
  
  .table-details {
    thead {
      tr {
        th {
          padding: 2px;
          font-size: 12px;
          height: 25px;
        }
      }
  
      tr {
        td {
          font-size: 12px;
          height: 30px;
        }
      }
    }
  }
  
  ::ng-deep .modal-custo {
    width: 70%;
    max-width: none;
  }

  .statutCode{
    //border: 1px solid rgb(24, 9, 9);
    text-transform: uppercase;
    width: 50%;
    margin: 0;

  }

  .iconAction{
    //border: 1px solid orangered;
    display: flex;
    justify-content: space-around;
  }

  .btnMarge{
    //border: 1px solid rebeccapurple;
    margin-top: 1%;
  }

  .btnImporter{
    //border: 1px solid rebeccapurple;
    width: 11%;
    margin-top: 1%;
  }