.test{
    display: flex;
    justify-content: space-between;
    //border: 2px solid red;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    //width: 75%;
}


.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid green;
    width: 30%;
    padding-left: 1.5rem;
}

.btn-import{
    padding: 0 1.5rem 0 1.5rem;
}

.btn-aadd{
    padding: 0 2.5rem 0 2.5rem;
  }

.btnHover:hover{
    color: aliceblue;
}

.divImport{
    margin-right: 30px;
}
  